@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Source+Code+Pro:ital,wght@0,200..900;1,200..900&family=Special+Elite&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}


html, body {
    height: 100%;
    width: 100%;
}

#main {
    position: relative;
    z-index: 10;

}

#page1 {
    min-height: 100vh;
    position: relative;
    width: 100%;
    padding: 0 2vw;
    background-color: #ffffff;
}


#center {
    height: 67vh;
    width: 100%;
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    border-bottom: 1px solid #1d1d1d5f;
    padding-bottom: 2.5vw;
}

#left h3 {
    width: 25vw;

    font-size: 1.8vw;
    line-height: 2vw;
}

#center h1 {
    font-size: 10vw;
    line-height: 9vw;
    text-align: right;

}


#page1 video {
    width: 100%;
    border-radius: 30px;
    margin-top: 4vw;
    position: relative;
}

#hero-shape {
    position: absolute;
    width: 46vw;
    height: 36vw;
    right: 0;
    top: 75vh;
}

#hero-1 {
    height: 100%;
    width: 100%;
    background-color: #C9FD0E;
    border-top-left-radius: 50%;
    border-bottom-left-radius: 50%;
    filter: blur(20px);
    position: absolute;
}

#hero-2 {
    height: 30vw;
    width: 30vw;
    background-color: #C9FD0E;
    border-radius: 50%;
    filter: blur(20px);
    position: absolute;
    animation: anime2 5s linear infinite alternate;

}

#hero-3 {
    height: 20vw;
    width: 30vw;
    background-color: #C9FD0E;
    border-radius: 50%;
    filter: blur(50px);
    position: absolute;
    animation: anime1 5s linear infinite alternate;
}

@keyframes anime1 {
    from {
        transform: translate(55%, -3%);
    }

    to {
        transform: translate(0%, 10%);

    }

}

@keyframes anime2 {
    from {
        transform: translate(5%, -5%);
    }

    to {
        transform: translate(-20%, 30%);

    }

}


#page2 {
    min-height: 100vh;
    width: 100%;
    padding: 8vw 0;
    background-color: #ffffff;
}

#moving-text {
    white-space: nowrap;
    overflow: auto;
}

#moving-text::-webkit-scrollbar {
    display: none;
}

.con {
    white-space: nowrap;
    display: inline-block;
    animation: move 10s linear infinite;
}

#moving-text h1 {
    font-size: 7vw;
    display: inline-block;
}

#gola {
    height: 70px;
    width: 70px;
    border-radius: 50%;
    background-color: #79fd0e;
    display: inline-block;
    margin: 1vw 2vw;
}

@keyframes move {
    from {
        transform: translateX(0);
    }

    to {
        transform: translateX(-100%);
    }

}



#page2-bottom {

    min-height: 80vh;
    width: 100%;
    display: flex;
    align-items: flex-end;
    padding: 4.5vw;
    justify-content: space-between;
}

#page2-bottom h1 {
    font-size: 3.8vw;
    width: 55%;
    line-height: 4vw;
}

#bottom-part2 {
    width: 20%;
    /* background-color: #79fd0e; */
    padding: 10px;
}

#bottom-part2 img {
    width: 100%;
    border-radius: 15px;
}

#bottom-part2 p {
    font-weight: 400;
    margin-top: 2vw;
    font-size: 1vw;
    line-height: 1.2vw;
}

#page3 {
    min-height: 100vh;
    width: 100%;
    background-color: #ffffff;
    padding: 4vw 0;
}

.elem {
    display: flex;
    align-items: center;
    height: 8vw;
    width: 100%;
    position: relative;
    padding: 0 2vw;
    /* border-top: 1px solid black; */
    border-bottom: 1px solid rgba(0, 0, 0, 0.621);
    cursor: pointer;
    overflow: hidden;
}

.elem h2 {
    font-size: 2.5vw;
    position: relative;
    z-index: 9;
}

.elem .overlay {
    position: absolute;
    height: 100%;
    width: 100%;
    background-color: #fdaa58;
    left: 0;
    top: -100%;
    transition: all ease 0.3s;
}

.elem:hover .overlay {
    top: 0;
}

#fixed-image {
    height: 30vw;
    width: 24vw;
    background: #79fd0e;
    border-radius: 10px;
    position: fixed;
    z-index: 99;
    left: 50%;
    top: 25%;
    display: none;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    pointer-events: none;

}


#page4 {
    height: 85vh;
    width: 100%;
    background-color: #fff;
    padding: 8vw 2vw;
}


#page5 {
    height: 100vh;
    width: 100%;
    background-color: #fdfdfd00;
}


#footer {
    position: fixed;
    z-index: 9;
    height: 100vh;
    bottom: 0;
    width: 100%;
    color: #ffffff;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: flex-end;
    background-color: #000000;
    padding: 1vw 2vw;
}

#footer h1 {
    margin-top: -5vw;
    font-size: 24vw;
}

#footer-div {
    height: 12vh;
    width: 100%;
    border-radius: 8px;
    border-width: thin;
    margin-top: 3vw;
    display: flex;
    justify-content: space-between;
}

#footer-div h4 {
    font-size: 2vw;
    line-height: 2vw;

}

#footer-bottom {
    height: 10vh;
    width: 100%;
    border-top: 2px solid #5e5d5d;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#footer-bottom h4 {
    font-size: 1vw;
    font-weight: 300;
}
