
nav{
    padding: 2vw 2vw;
     width: 100%;
     /* background-color: crimson; */
     display: flex;
     justify-content:  space-between;
     align-items: center;
 
 }
 #nav-part2{
     display: flex;
     align-items: center;
     gap: 1vw;
 }
 #nav-part2 h4{
     padding:  10px 20px;
     border: 1px solid #1d1d1d6e;
     border-radius: 50px;
     font-weight: 400;
     position: relative;
     color: rgba(0, 0, 0, 0.778);
     font-size: 18px;
     transition: all 0.5s ease-in-out;
     overflow: hidden;
     cursor: pointer;
 }
 
 #nav-part2 h4 a{
     color: #1d1d1db3;
     text-decoration: none;
     z-index: 9;
     position: relative;
     transition: all 0.5s ease-in-out;
 
 }
 #nav-part2 h4:hover a{
 
     color: aliceblue;
 
 }
 
 /* #nav-part2 h4 select{
     border: none;
     background-color: transparent;
     cursor: pointer;
     font-weight: 500;
    
     color: rgba(0, 0, 0, 0.778);
     font-size: 18px;
 }
 #nav-part2 h4 select:hover{
     color: aliceblue;
 }
  */
 
 /* h4 select option {
     font-size: 14px;
     padding: 5px;
     background-color: #fff;
     color: #333;
     border-radius: 0px;
   }
   
   h4 select option:checked {
     background-color: #007BFF;
     color: #fff;
   } */
 
 
 #nav-part2 h4 select:focus{
     outline: none;
 }
 #nav-part2 h4:after{
     content: "";
     position: absolute;
     height: 100%;
     width: 100%;
     background-color: rgb(29, 30, 29);
     left: 0;
     bottom: -100%;
     border-radius: 50%;
     transition: all 0.5s ease-in-out;
 }
 #nav-part2 h4:hover::after{
 bottom: 0;
     border-radius: 0px;
 }